<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


<Navbar class="navbar-expand-lg container">
    <NavbarBrand href="/">Short Stories</NavbarBrand>
    <Nav navbar>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <NavItem>
                <NavLink class="active" href={Links.linkHome}>Home</NavLink>
            </NavItem>
            <NavItem class="dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Articles
                </a>
                <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href={Links.linkNews}>Latest Added Stories</a></li>
                    <li><a class="dropdown-item" href={Links.linkArticleList}>Story List</a></li>
                </ul>
            </NavItem>
            <NavItem>
                <NavLink class="active" href={Links.linkAboutUs}>About Us</NavLink>
            </NavItem>
        </div>
    </Nav>
</Navbar >


<div class="container">
    <Helmet>
        <title>Short Stories | Lastest Added Stories</title>
    </Helmet>
    <h1 class="news">Latest Added Stories</h1>
    <div>
        <hr class="hr" />
        {% for item in articles %}
        <div class="story">
            <div class="title">
                {{ item["title"] }}
            </div>
            <h6>Author: {{ item["author"] }}</h6>
            <div class="content">
                {{ item["content"] }}
            </div>
            <div class="date">
                Published: {{ item["date"] }}
            </div>
            <hr class="hr" />
        {% endfor %}
        </div>
    </div>
</div>


<footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a class="active nav-link px-2 ">Home</a></li>
        <li class="nav-item"><a class="active nav-link px-2 ">Latest Stories</a></li>
        <li class="nav-item"><a class="active nav-link px-2 ">About Us</a></li>
    </ul>
    <p class="text-center text-opacity-75">&copy; 2023 Short Stories</p>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>